In [37]:
import numpy as np
import pandas as pd 
from pandas import DataFrame as df
import datetime
pd.set_option('display.max_columns', 500)

# 데이터 정리

In [38]:
data_beer = pd.read_csv("data_beer.csv")
data_beer.head(5)

,Unnamed: 0,upc,upc_ver_uc,trip_code_uc,household_code,purchase_date,retailer_code,store_code_uc,panel_year,store_zip3,total_spent,quantity,total_price_paid,coupon_value,deal_flag_uc,upc_descr,product_module_code,product_module_descr,product_group_code,product_group_descr,department_code,department_descr,brand_code_uc,brand_descr,multi,size1_code_uc,size1_amount,size1_units,dataset_found_uc,size1_change_flag_uc,purchase_year,purchase_month,yyyymm,quantity_multi
0,0,7289000016,1,2544217,2000106,2004-05-15,6,434185,2004,606.0,153.90,1,12.99,0,0,HKN L BR IM HLD NRB 12P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,568229,HEINEKEN,12,32992,12.0,OZ,ALL,0,2004,5,200405,12
1,4,7231163009,1,9587725,2000126,2005-05-07,6920,0,2005,NaN,163.28,1,5.76,0,0,MSEHD BR IM CND NRB 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,600650,MOOSEHEAD,6,32992,12.0,OZ,ALL,0,2005,5,200505,6
2,6,6206705172,1,10100734,2000126,2005-06-01,130,969374,2005,750.0,45.38,1,5.89,0,0,LBP BR IM CND NRB LN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,585164,LABATT BLUE PILSNER,6,32940,11.5,OZ,ALL,0,2005,6,200506,6
3,15,78615000001,1,14711443,2000126,2005-12-23,130,969374,2005,750.0,84.79,1,7.79,0,0,S-ART L BR IM BLGM NRB LN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,644328,STELLA ARTOIS,6,32905,11.2,OZ,ALL,0,2005,12,200512,6
4,19,3410000007,1,20173381,2000126,2006-08-14,130,969374,2006,750.0,138.01,1,4.10,0,0,MLR H-L BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,6,33361,16.0,OZ,ALL,0,2006,8,200608,6

In [48]:
def data_generator(data):
    '''
    # yyyymm: year_month
    # week
    # time_key: year_week
    '''
    data['date'] = pd.to_datetime(data['purchase_date'])
    data['week'] = data['date'].dt.week
    data['time_key'] = data['purchase_year']*100 + data['week']


    total_number = data['upc'].count()
    ounce =[]
    for i in range(total_number):
        if data['size1_units'][i] == 'ML':
            ounce.append(0.033814)
        elif data['size1_units'][i] == 'Li':
            ounce.append(33.814022)
        else:
            ounce.append(1)
    data['unit_ounce'] = ounce


    #q_product: 몇 캔을 샀는가
    #q_ounce: 몇 oz를 마셨는가
    #q_volume: 몇 oz의 에탄올을 섭취했는가 
    data['q_product'] = data['quantity'] * data['multi']
    data['q_ounce'] = data['quantity'] * data['multi'] * data['size1_amount'] * data['unit_ounce']

    if data['product_group_code'][0] == 5001:
        data['q_volume'] = data['quantity'] * data['multi'] * data['size1_amount'] * data['unit_ounce'] * 0.045
    elif data['product_group_code'][0] == 5002:
        data['q_volume'] = data['quantity'] * data['multi'] * data['size1_amount'] * data['unit_ounce'] * 0.411
    else:
        data['q_volume'] = data['quantity'] * data['multi'] * data['size1_amount'] * data['unit_ounce'] * 0.129

    return data

In [40]:
beer = data_generator(data_beer)

In [41]:
beer

,Unnamed: 0,upc,upc_ver_uc,trip_code_uc,household_code,purchase_date,retailer_code,store_code_uc,panel_year,store_zip3,total_spent,quantity,total_price_paid,coupon_value,deal_flag_uc,upc_descr,product_module_code,product_module_descr,product_group_code,product_group_descr,department_code,department_descr,brand_code_uc,brand_descr,multi,size1_code_uc,size1_amount,size1_units,dataset_found_uc,size1_change_flag_uc,purchase_year,purchase_month,yyyymm,quantity_multi,date,week,time_key,unit_ounce,q_product,q_ounce,q_volume
0,0,7289000016,1,2544217,2000106,2004-05-15,6,434185,2004,606.0,153.90,1,12.99,0,0,HKN L BR IM HLD NRB 12P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,568229,HEINEKEN,12,32992,12.0,OZ,ALL,0,2004,5,200405,12,2004-05-15,20,200420,1,12,144.0,6.480
1,4,7231163009,1,9587725,2000126,2005-05-07,6920,0,2005,NaN,163.28,1,5.76,0,0,MSEHD BR IM CND NRB 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,600650,MOOSEHEAD,6,32992,12.0,OZ,ALL,0,2005,5,200505,6,2005-05-07,18,200518,1,6,72.0,3.240
2,6,6206705172,1,10100734,2000126,2005-06-01,130,969374,2005,750.0,45.38,1,5.89,0,0,LBP BR IM CND NRB LN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,585164,LABATT BLUE PILSNER,6,32940,11.5,OZ,ALL,0,2005,6,200506,6,2005-06-01,22,200522,1,6,69.0,3.105
3,15,78615000001,1,14711443,2000126,2005-12-23,130,969374,2005,750.0,84.79,1,7.79,0,0,S-ART L BR IM BLGM NRB LN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,644328,STELLA ARTOIS,6,32905,11.2,OZ,ALL,0,2005,12,200512,6,2005-12-23,51,200551,1,6,67.2,3.024
4,19,3410000007,1,20173381,2000126,2006-08-14,130,969374,2006,750.0,138.01,1,4.10,0,0,MLR H-L BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,6,33361,16.0,OZ,ALL,0,2006,8,200608,6,2006-08-14,33,200633,1,6,96.0,4.320
5,27,7089701371,1,24497917,2000126,2007-02-03,130,3184267,2007,750.0,126.49,1,2.29,0,0,FST L BR IM AS CN,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,554900,FOSTER'S,1,33944,24.0,OZ,ALL,0,2007,2,200702,1,2007-02-03,5,200705,1,1,24.0,1.080
6,31,3410000007,1,29903661,2000126,2007-08-14,130,969374,2007,750.0,82.41,1,5.29,0,0,MLR H-L BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,6,33361,16.0,OZ,ALL,0,2007,8,200708,6,2007-08-14,33,200733,1,6,96.0,4.320
7,34,3410000007,1,32021761,2000126,2007-10-31,6920,0,2007,NaN,103.76,1,4.94,0,0,MLR H-L BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,6,33361,16.0,OZ,ALL,0,2007,10,200710,6,2007-10-31,44,200744,1,6,96.0,4.320
8,42,1820070456,1,15236703,2000129,2006-01-15,6920,0,2006,NaN,84.11,1,13.54,0,0,MCHLB AM BK BR NRB LN 20P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598032,MICHELOB AMBER BOCK,20,32992,12.0,OZ,ALL,0,2006,1,200601,20,2006-01-15,2,200602,1,20,240.0,10.800
9,44,6206705172,1,14460720,2000351,2005-12-13,4999,0,2005,NaN,49.27,1,4.79,0,0,LBP BR IM CND NRB LN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,585164,LABATT BLUE PILSNER,6,32940,11.5,OZ,ALL,0,2005,12,200512,6,2005-12-13,50,200550,1,6,69.0,3.105
10,45,6206705142,1,15731518,2000351,2006-02-05,252,2152885,2006,136.0,35.48,2,18.78,0,0,LBP BR IM CND CN 12P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,585164,LABATT BLUE PILSNER,12,32992,12.0,OZ,ALL,0,2006,2,200602,24,2006-02-05,5,200605,1,24,288.0,12.960
11,57,7167007106,1,14741398,2000561,2005-12-24,239,5061585,2005,132.0,39.26,2,22.98,0,0,SRNC 12/XMS AST BR NRB LN 12P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,633833,SARANAC THE 12 BEERS OF XM AST,12,32992,12.0,OZ,ALL,0,2005,12,200512,24,2005-12-24,51,200551,1,24,288.0,12.960
12,59,8992429386,1,26428307,2000561,2007-04-11,239,5061585,2007,132.0,67.85,1,8.99,0,0,YNGLNG BLK&TN PRT NRB LN 12P,5005,STOUT AND PORTER,5001,BEER,8,ALCOHOLIC BEVERAGES,668710,YUENGLING BLACK AND TAN PORTER,12,32992,12.0,OZ,ALL,0,2007,4,200704,12,2007-04-11,15,200715,1,12,144.0,6.480
13,60,3410000154,1,2063504,2000571,2004-04-18,239,6575751,2004,130.0,104.17,6,15.54,0,0,MLWK BST BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598893,MILWAUKEE'S BEST,6,32992,12.0,OZ,ALL,0,2004,4,200404,36,2004-04-18,16,200416,1,36,432.0,19.440
14,74,7199010071,1,2244627,2000793,2004-04-28,130,1354022,2004,454.0,40.13,1,0.99,0,0,CRS-B BR CN,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,533896,COORS BANQUET,1,33944,24.0,OZ,ALL,0,2004,4,200404,1,2004-04-28,18,200418,1,1,24.0,1.080
15,75,7199010071,1,9815556,2000793,2005-05-18,130,1354022,2005,454.0,39.60,1,0.99,0,1,CRS-B BR CN,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,533896,COORS BANQUET,1,33944,24.0,OZ,ALL,0,2005,5,200505,1,2005-05-18,20,200520,1,1,24.0,1.080
16,83,8066095625,1,23313339,2000811,2006-12-22,6920,0,2006,NaN,118.52,1,7.37,0,0,CRN LIGHT BR IM MX NRB LN 6P,5010,LIGHT BEER (LOW CALORIE/ALCOHOL),5001,BEER,8,ALCOHOLIC BEVERAGES,534236,CORONA LIGHT,6,32992,12.0,OZ,ALL,0,2006,12,200612,6,2006-12-22,51,200651,1,6,72.0,3.240
17,84,8066095605,1,3401683,2000818,2004-07-02,144,8004753,2004,462.0,57.60,1,6.99,0,0,CRN X BR IM MX NRB LN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,534232,CORONA EXTRA,6,32992,12.0,OZ,ALL,0,2004,7,200407,6,2004-07-02,27,200427,1,6,72.0,3.240
18,85,8769230030,1,4181177,2000818,2004-08-13,144,8004753,2004,462.0,70.31,1,6.79,0,0,SML ADM BS STK ALE NRB LN 6P,5015,ALE,5001,BEER,8,ALCOHOLIC BEVERAGES,632958,SAMUEL ADAMS BOSTON STOCK ALE,6,32992,12.0,OZ,ALL,0,2004,8,200408,6,2004-08-13,33,200433,1,6,72.0,3.240
19,94,3410017306,1,3350024,2000855,2004-06-29,9999,0,2004,NaN,38.31,1,16.38,0,0,MLR G-D BR CN 24P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598772,MILLER GENUINE DRAFT,24,32992,12.0,OZ,ALL,0,2004,6,200406,24,2004-06-29,27,200427,1,24,288.0,12.960
20,95,3410031602,1,4087206,2000855,2004-08-08,3999,0,2004,NaN,32.92,1,6.68,0,0,MLWK BST BR CN 12P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598893,MILWAUKEE'S BEST,12,32992,12.0,OZ,ALL,0,2004,8,200408,12,2004-08-08,32,200432,1,12,144.0,6.480
21,96,3410031306,1,4651436,2000855,2004-09-06,3999,0,2004,NaN,25.38,1,13.38,0,0,MLWK BST BR CN 24P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598893,MILWAUKEE'S BEST,24,32992,12.0,OZ,ALL,0,2004,9,200409,24,2004-09-06,37,200437,1,24,288.0,12.960
22,97,3410001341,1,6182934,2000855,2004-11-23,4901,3702728,2004,482.0,15.18,1,11.49,0,1,MLR H-L BR CN 30P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,30,32992,12.0,OZ,ALL,0,2004,11,200411,30,2004-11-23,48,200448,1,30,360.0,16.200
23,99,3410001341,1,6857543,2000855,2004-12-24,4901,3702728,2004,482.0,22.47,1,14.99,0,0,MLR H-L BR CN 30P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,30,32992,12.0,OZ,ALL,0,2004,12,200412,30,2004-12-24,52,200452,1,30,360.0,16.200
24,103,3410001341,1,7257602,2000855,2005-01-14,4901,3702728,2005,482.0,15.18,1,14.49,0,1,MLR H-L BR CN 30P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,30,32992,12.0,OZ,ALL,0,2005,1,200501,30,2005-01-14,2,200502,1,30,360.0,16.200
25,104,3410001341,1,7379376,2000855,2005-01-20,4901,3702728,2005,482.0,15.18,1,14.49,0,1,MLR H-L BR CN 30P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,30,32992,12.0,OZ,ALL,0,2005,1,200501,30,2005-01-20,3,200503,1,30,360.0,16.200
26,105,3410001341,1,10138358,2000855,2005-06-03,4901,3702728,2005,482.0,15.71,1,14.99,0,0,MLR H-L BR CN 30P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,30,32992,12.0,OZ,ALL,0,2005,6,200506,30,2005-06-03,22,200522,1,30,360.0,16.200
27,107,1820011168,1,10903020,2000855,2005-07-10,9999,0,2005,NaN,16.88,1,14.48,0,0,BUDWEISER BR CN 24P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,520860,BUDWEISER,24,32992,12.0,OZ,ALL,0,2005,7,200507,24,2005-07-10,27,200527,1,24,288.0,12.960
28,108,1820011168,1,11098201,2000855,2005-07-19,31,4970661,2005,482.0,62.52,1,15.87,0,0,BUDWEISER BR CN 24P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,520860,BUDWEISER,24,32992,12.0,OZ,ALL,0,2005,7,200507,24,2005-07-19,29,200529,1,24,288.0,12.960
29,109,1820011168,1,11383207,2000855,2005-08-01,9999,0,2005,NaN,32.37,1,16.88,0,0,BUDWEISER BR CN 24P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,520860,BUDWEISER,24,32992,12.0,OZ,ALL,0,2005,8,200508,24,2005-08-01,31,200531,1,24,288.0,12.960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,557,3410000007,1,14637654,2001521,2005-12-20,9699,0,2005,NaN,20.20,5,20.20,0,0,MLR H-L BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,6,33361,16.0,OZ,ALL,0,2005,12,200512,30,2005-12-20,51,200551,1,30,480.0,21.600
182,560,1820000018,1,14889426,2001521,2005-12-31,9699,0,2005,NaN,29.65,5,29.65,0,0,BUDWEISER BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,520860,BUDWEISER,6,33361,16.0,OZ,ALL,0,2005,12,200512,30,2005-12-31,52,200552,1,30,480.0,21.600
183,561,1820000018,1,15326353,2001521,2006-01-19,9699,0,2006,NaN,35.94,6,35.94,0,0,BUDWEISER BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,520860,BUDWEISER,6,33361,16.0,OZ,ALL,0,2006,1,200601,36,2006-01-19,3,200603,1,36,576.0,25.920
184,562,7199032000,1,15591342,2001521,2006-01-30,9699,0,2006,NaN,28.90,5,28.90,0,0,CRS LT BR CN 6P,5010,LIGHT BEER (LOW CALORIE/ALCOHOL),5001,BEER,8,ALCOHOLIC BEVERAGES,533899,COORS LIGHT,6,33361,16.0,OZ,ALL,0,2006,1,200601,30,2006-01-30,5,200605,1,30,480.0,21.600
185,563,3410000007,1,16001810,2001521,2006-02-17,9699,0,2006,NaN,20.80,5,20.80,0,0,MLR H-L BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,6,33361,16.0,OZ,ALL,0,2006,2,200602,30,2006-02-17,7,200607,1,30,480.0,21.600
186,565,1820000115,1,16518271,2001521,2006-03-11,9699,0,2006,NaN,35.28,6,35.28,0,0,BUD LT BR CN 6P,5010,LIGHT BEER (LOW CALORIE/ALCOHOL),5001,BEER,8,ALCOHOLIC BEVERAGES,520795,BUD LIGHT,6,33361,16.0,OZ,ALL,0,2006,3,200603,36,2006-03-11,10,200610,1,36,576.0,25.920
187,566,1820000018,1,16905413,2001521,2006-03-27,9699,0,2006,NaN,29.95,5,29.95,0,0,BUDWEISER BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,520860,BUDWEISER,6,33361,16.0,OZ,ALL,0,2006,3,200603,30,2006-03-27,13,200613,1,30,480.0,21.600
188,568,3410000357,1,17153070,2001521,2006-04-07,9699,0,2006,NaN,28.95,5,28.95,0,0,MLR LITE BR CN 6P,5010,LIGHT BEER (LOW CALORIE/ALCOHOL),5001,BEER,8,ALCOHOLIC BEVERAGES,598779,MILLER LITE,6,33361,16.0,OZ,ALL,0,2006,4,200604,30,2006-04-07,14,200614,1,30,480.0,21.600
189,569,3410000007,1,17319399,2001521,2006-04-14,9699,0,2006,NaN,21.00,5,21.00,0,0,MLR H-L BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,6,33361,16.0,OZ,ALL,0,2006,4,200604,30,2006-04-14,15,200615,1,30,480.0,21.600
190,571,1820000018,1,17663485,2001521,2006-04-29,9699,0,2006,NaN,29.95,5,29.95,0,0,BUDWEISER BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,520860,BUDWEISER,6,33361,16.0,OZ,ALL,0,2006,4,200604,30,2006-04-29,17,200617,1,30,480.0,21.600
191,572,1820000115,1,17909670,2001521,2006-05-09,9699,0,2006,NaN,29.70,5,29.70,0,0,BUD LT BR CN 6P,5010,LIGHT BEER (LOW CALORIE/ALCOHOL),5001,BEER,8,ALCOHOLIC BEVERAGES,520795,BUD LIGHT,6,33361,16.0,OZ,ALL,0,2006,5,200605,30,2006-05-09,19,200619,1,30,480.0,21.600
192,573,1820000018,1,17950001,2001521,2006-05-11,9699,0,2006,NaN,29.95,5,29.95,0,0,BUDWEISER BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,520860,BUDWEISER,6,33361,16.0,OZ,ALL,0,2006,5,200605,30,2006-05-11,19,200619,1,30,480.0,21.600
193,574,2210000071,1,18272812,2001521,2006-05-25,9699,0,2006,NaN,10.59,2,9.99,0,0,PABST BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,612818,PABST BLUE RIBBON,6,32992,12.0,OZ,ALL,0,2006,5,200605,12,2006-05-25,21,200621,1,12,144.0,6.480
194,575,3410000007,1,18643901,2001521,2006-06-10,9699,0,2006,NaN,21.00,5,21.00,0,0,MLR H-L BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,6,33361,16.0,OZ,ALL,0,2006,6,200606,30,2006-06-10,23,200623,1,30,480.0,21.600
195,576,3410000357,1,18965113,2001521,2006-06-24,9699,0,2006,NaN,28.95,5,28.95,0,0,MLR LITE BR CN 6P,5010,LIGHT BEER (LOW CALORIE/ALCOHOL),5001,BEER,8,ALCOHOLIC BEVERAGES,598779,MILLER LITE,6,33361,16.0,OZ,ALL,0,2006,6,200606,30,2006-06-24,25,200625,1,30,480.0,21.600
196,577,3410000007,1,19102633,2001521,2006-06-30,9699,0,2006,NaN,21.00,5,21.00,0,0,MLR H-L BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,6,33361,16.0,OZ,ALL,0,2006,6,200606,30,2006-06-30,26,200626,1,30,480.0,21.600
197,578,2210000071,1,19268220,2001521,2006-07-07,9699,0,2006,NaN,10.59,2,9.99,0,0,PABST BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,612818,PABST BLUE RIBBON,6,32992,12.0,OZ,ALL,0,2006,7,200607,12,2006-07-07,27,200627,1,12,144.0,6.480
198,579,1820000018,1,19429956,2001521,2006-07-14,9699,0,2006,NaN,29.95,5,29.95,0,0,BUDWEISER BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,520860,BUDWEISER,6,33361,16.0,OZ,ALL,0,2006,7,200607,30,2006-07-14,28,200628,1,30,480.0,21.600
199,580,1820000078,1,19779096,2001521,2006-07-29,9699,0,2006,NaN,18.95,5,18.95,0,0,NATURAL ICE BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,604183,NATURAL ICE,6,33361,16.0,OZ,ALL,0,2006,7,200607,30,2006-07-29,30,200630,1,30,480.0,21.600
200,581,3410000004,1,19948352,2001521,2006-08-05,9699,0,2006,NaN,10.59,2,9.99,0,0,MLR H-L BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,6,32992,12.0,OZ,ALL,0,2006,8,200608,12,2006-08-05,31,200631,1,12,144.0,6.480
201,582,3410000004,1,20114111,2001521,2006-08-12,9699,0,2006,NaN,19.75,5,19.75,0,0,MLR H-L BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,6,32992,12.0,OZ,ALL,0,2006,8,200608,30,2006-08-12,32,200632,1,30,360.0,16.200
202,583,3410000004,1,20194529,2001521,2006-08-15,9699,0,2006,NaN,10.59,2,9.99,0,0,MLR H-L BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,6,32992,12.0,OZ,ALL,0,2006,8,200608,12,2006-08-15,33,200633,1,12,144.0,6.480
203,584,3410000357,1,20444887,2001521,2006-08-26,9699,0,2006,NaN,28.95,5,28.95,0,0,MLR LITE BR CN 6P,5010,LIGHT BEER (LOW CALORIE/ALCOHOL),5001,BEER,8,ALCOHOLIC BEVERAGES,598779,MILLER LITE,6,33361,16.0,OZ,ALL,0,2006,8,200608,30,2006-08-26,34,200634,1,30,480.0,21.600
204,586,3410000357,1,20615518,2001521,2006-09-02,9699,0,2006,NaN,28.95,5,28.95,0,0,MLR LITE BR CN 6P,5010,LIGHT BEER (LOW CALORIE/ALCOHOL),5001,BEER,8,ALCOHOLIC BEVERAGES,598779,MILLER LITE,6,33361,16.0,OZ,ALL,0,2006,9,200609,30,2006-09-02,35,200635,1,30,480.0,21.600
205,587,1820000018,1,20783728,2001521,2006-09-09,9699,0,2006,NaN,29.95,5,29.95,0,0,BUDWEISER BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,520860,BUDWEISER,6,33361,16.0,OZ,ALL,0,2006,9,200609,30,2006-09-09,36,200636,1,30,480.0,21.600
206,588,3410000357,1,20947218,2001521,2006-09-16,9699,0,2006,NaN,28.95,5,28.95,0,0,MLR LITE BR CN 6P,5010,LIGHT BEER (LOW CALORIE/ALCOHOL),5001,BEER,8,ALCOHOLIC BEVERAGES,598779,MILLER LITE,6,33361,16.0,OZ,ALL,0,2006,9,200609,30,2006-09-16,37,200637,1,30,480.0,21.600
207,589,1820000018,1,21109855,2001521,2006-09-23,9699,0,2006,NaN,29.95,5,29.95,0,0,BUDWEISER BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,520860,BUDWEISER,6,33361,16.0,OZ,ALL,0,2006,9,200609,30,2006-09-23,38,200638,1,30,480.0,21.600
208,590,1820000115,1,21442266,2001521,2006-10-07,9699,0,2006,NaN,10.00,1,5.99,0,0,BUD LT BR CN 6P,5010,LIGHT BEER (LOW CALORIE/ALCOHOL),5001,BEER,8,ALCOHOLIC BEVERAGES,520795,BUD LIGHT,6,33361,16.0,OZ,ALL,0,2006,10,200610,6,2006-10-07,40,200640,1,6,96.0,4.320
209,591,1820000018,1,21607255,2001521,2006-10-14,9699,0,2006,NaN,10.00,1,5.99,0,0,BUDWEISER BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,520860,BUDWEISER,6,33361,16.0,OZ,ALL,0,2006,10,200610,6,2006-10-14,41,200641,1,6,96.0,4.320
210,593,3410000004,1,21914807,2001521,2006-10-27,9699,0,2006,NaN,10.59,2,9.99,0,0,MLR H-L BR CN 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,598775,MILLER HIGH LIFE,6,32992,12.0,OZ,ALL,0,2006,10,200610,12,2006-10-27,43,200643,1,12,144.0,6.480

# 필요 데이터 연산

In [50]:
# yyyymmw 로 unique 시점 만들어주기 
def calculator(data):
    d = {}
    d['visit_count'] = data['trip_code_uc'].nunique()
    d['household'] = data['household_code'].nunique()
    d['expenditure'] = data['total_spent'].sum()
    d['quantity'] = data['quantity'].sum()
    d['product'] = data['q_product'].sum()
    d['ounce'] = data['q_ounce'].sum()
    d['volume'] = data['q_volume'].sum()
    return pd.Series(d, index=['visit_count', 'household','expenditure','quantity','product', 'ounce', 'volume'])

In [51]:
result1031 = wine.groupby(['yyyymm']).apply(calculator)

In [52]:
result

                         visit_count  expenditure  quantity  product  ounce  \
time_key household_code
200352   2001060                 1.0        41.10       1.0     12.0  144.0
200402   2001521                 2.0        21.18       5.0     30.0  408.0
200403   2001521                 1.0        10.59       3.0     18.0  216.0
200404   2001521                 2.0        23.30       6.0     36.0  504.0
200405   2001521                 2.0        21.18       6.0     36.0  432.0
200406   2001521                 1.0        10.59       3.0     18.0  216.0
200407   2001521                 1.0        39.96       6.0     36.0  432.0
200408   2001521                 2.0        21.18       6.0     36.0  432.0
200409   2001521                 2.0         6.34       2.0     12.0  144.0
200410   2001521                 2.0        13.76       4.0     24.0  288.0
200411   2001521                 1.0        10.59       3.0     18.0  216.0
200412   2001521                 1.0         6.34       2.0     12.0  144.0
200413   2001464                 1.0        74.77       1.0      4.0   59.6
200414   2001521                 1.0        10.59       3.0     18.0  216.0
200415   2001521                 3.0        24.76       7.0     42.0  504.0
200416   2000571                 1.0       104.17       6.0     36.0  432.0
200417   2001521                 1.0        10.59       3.0     18.0  216.0
200418   2000793                 1.0        40.13       1.0      1.0   24.0
         2001521                 2.0        21.18       5.0     30.0  360.0
200420   2000106                 1.0       153.90       1.0     12.0  144.0
         2001521                 2.0        21.18       6.0     36.0  432.0
200421   2001521                 1.0        10.59       3.0     18.0  216.0
200422   2001521                 1.0        10.59       3.0     18.0  216.0
200423   2001060                 1.0        23.78       2.0     12.0  144.0
         2001521                 1.0         3.17       1.0      6.0   72.0
200424   2001521                 1.0        10.59       3.0     18.0  216.0
200426   2001521                 1.0         3.17       1.0      6.0   72.0
200427   2000818                 1.0        57.60       1.0      6.0   72.0
         2000855                 1.0        38.31       1.0     24.0  288.0
         2001060                 1.0        75.36       1.0      6.0   72.0
...                              ...          ...       ...      ...    ...
200632   2000855                 1.0        18.54       1.0     24.0  288.0
         2001521                 1.0        19.75       5.0     30.0  360.0
200633   2000126                 1.0       138.01       1.0      6.0   96.0
         2001521                 1.0        10.59       2.0     12.0  144.0
200634   2001521                 1.0        28.95       5.0     30.0  480.0
200635   2001521                 1.0        28.95       5.0     30.0  480.0
200636   2001521                 1.0        29.95       5.0     30.0  480.0
200637   2001521                 1.0        28.95       5.0     30.0  480.0
200638   2001521                 1.0        29.95       5.0     30.0  480.0
200640   2001521                 1.0        10.00       1.0      6.0   96.0
200641   2001521                 1.0        10.00       1.0      6.0   96.0
200643   2001521                 1.0        10.59       2.0     12.0  144.0
200651   2000811                 1.0       118.52       1.0      6.0   72.0
         2000926                 1.0        19.21       1.0     24.0  288.0
         2001050                 1.0         6.56       1.0     12.0  144.0
200705   2000126                 1.0       126.49       1.0      1.0   24.0
200714   2001302                 1.0        36.32       1.0     30.0  360.0
200715   2000561                 1.0        67.85       1.0     12.0  144.0
200717   2000855                 1.0        19.35       1.0     24.0  288.0
200719   2000855                 1.0        18.43       1.0     24.0  288.0
         2001183                 1.0        18.71       1.0     12.0  144.0
200721   2001060                 1.0       129.79       1.0     12.0  144.0
200724   2000855                 1.0        19.35       1.0     24.0  288.0
200727   2000855                 1.0        21.78       1.0     24.0  288.0
200729   2001460                 1.0        38.12       3.0      3.0  120.0
200733   2000126                 1.0        82.41       1.0      6.0   96.0
         2001060                 1.0        16.98       1.0     12.0  144.0
200740   2000855                 1.0        17.83       1.0     30.0  360.0
200744   2000126                 1.0       103.76       1.0      6.0   96.0
200747   2001060                 1.0        49.75       1.0      6.0   72.0

                         volume
time_key household_code
200352   2001060          6.480
200402   2001521         18.360
200403   2001521          9.720
200404   2001521         22.680
200405   2001521         19.440
200406   2001521          9.720
200407   2001521         19.440
200408   2001521         19.440
200409   2001521          6.480
200410   2001521         12.960
200411   2001521          9.720
200412   2001521          6.480
200413   2001464          2.682
200414   2001521          9.720
200415   2001521         22.680
200416   2000571         19.440
200417   2001521          9.720
200418   2000793          1.080
         2001521         16.200
200420   2000106          6.480
         2001521         19.440
200421   2001521          9.720
200422   2001521          9.720
200423   2001060          6.480
         2001521          3.240
200424   2001521          9.720
200426   2001521          3.240
200427   2000818          3.240
         2000855         12.960
         2001060          3.240
...                         ...
200632   2000855         12.960
         2001521         16.200
200633   2000126          4.320
         2001521          6.480
200634   2001521         21.600
200635   2001521         21.600
200636   2001521         21.600
200637   2001521         21.600
200638   2001521         21.600
200640   2001521          4.320
200641   2001521          4.320
200643   2001521          6.480
200651   2000811          3.240
         2000926         12.960
         2001050          6.480
200705   2000126          1.080
200714   2001302         16.200
200715   2000561          6.480
200717   2000855         12.960
200719   2000855         12.960
         2001183          6.480
200721   2001060          6.480
200724   2000855         12.960
200727   2000855         12.960
200729   2001460          5.400
200733   2000126          4.320
         2001060          6.480
200740   2000855         16.200
200744   2000126          4.320
200747   2001060          3.240

[174 rows x 6 columns]

# 결과 확인

In [13]:
beer1025 = pd.read_csv("beer1025.csv")
wine1025 = pd.read_csv("wine1025.csv")
liquor1025 = pd.read_csv("liquor1025.csv")

In [15]:
beer1025.to_excel("beer1025.xlsx")
wine1025.to_excel("wine1025.xlsx")
liquor1025.to_excel("liquor1025.xlsx")

# total data 확인

In [45]:
def data_generator(data):
    '''
    # yyyymm: year_month
    # week
    # time_key: year_month_week
    '''
    data['date'] = pd.to_datetime(data['purchase_date'])
    data['week'] = data['date'].dt.week
    data['time_key'] = data['purchase_year']*100 + data['week']


    total_number = data['upc'].count()
    ounce =[]
    for i in range(total_number):
        if data['size1_units'][i] == 'ML':
            ounce.append(0.033814)
        elif data['size1_units'][i] == 'Li':
            ounce.append(33.814022)
        else:
            ounce.append(1)
    data['unit_ounce'] = ounce


    #q_product: 몇 캔을 샀는가
    #q_ounce: 몇 oz를 마셨는가
    #q_volume: 몇 oz의 에탄올을 섭취했는가 
    data['q_product'] = data['quantity'] * data['multi']
    data['q_ounce'] = data['quantity'] * data['multi'] * data['size1_amount'] * data['unit_ounce']

    if data['product_group_code'][0] == 5001:
        data['q_volume'] = data['quantity'] * data['multi'] * data['size1_amount'] * data['unit_ounce'] * 0.045
    elif data['product_group_code'][0] == 5002:
        data['q_volume'] = data['quantity'] * data['multi'] * data['size1_amount'] * data['unit_ounce'] * 0.411
    else:
        data['q_volume'] = data['quantity'] * data['multi'] * data['size1_amount'] * data['unit_ounce'] * 0.129

    return data

In [46]:
def alcohol_sort(data):
    d = {}
    d['alcohol_list'] = data['product_group_code'].unique()
    return pd.Series(d, index=['alcohol_list'])

In [47]:
def alcohol_dummy(data):
    total_number = data['alcohol_list'].count()
    beer = []
    liquor = []
    wine = []
    for i in range(total_number):
        if 5001 in data['alcohol_list'][i]:
            beer.append(1)
        else:
            beer.append(0)

        if 5002 in data['alcohol_list'][i]:
            liquor.append(1)
        else:
            liquor.append(0)

        if 5003 in data['alcohol_list'][i]:
            wine.append(1)
        else:
            wine.append(0)


    data['beer'] = beer
    data['wine'] = wine
    data['liquor'] = liquor
    
    return data

In [49]:
total_data = pd.read_csv("total_data.csv")
total = data_generator(total_data)
total.head(5)

,Unnamed: 0,upc,upc_ver_uc,trip_code_uc,household_code,purchase_date,retailer_code,store_code_uc,panel_year,store_zip3,total_spent,quantity,total_price_paid,coupon_value,deal_flag_uc,upc_descr,product_module_code,product_module_descr,product_group_code,product_group_descr,department_code,department_descr,brand_code_uc,brand_descr,multi,size1_code_uc,size1_amount,size1_units,dataset_found_uc,size1_change_flag_uc,purchase_year,purchase_month,yyyymm,quantity_multi,date,week,time_key,unit_ounce,q_product,q_ounce,q_volume
0,0,7289000016,1,2544217,2000106,2004-05-15,6,434185,2004,606.0,153.90,1,12.99,0,0,HKN L BR IM HLD NRB 12P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,568229,HEINEKEN,12,32992,12.0,OZ,ALL,0,2004,5,200405,12,2004-05-15,20,200420,1.000000,12,144.000000,6.480000
1,1,8218405435,2,3820912,2000106,2004-07-25,6,434185,2004,606.0,62.53,1,4.99,0,1,JDCC M BVG LYNCHBRG LMD NRB 4P,5048,COOLERS - REMAINING,5002,LIQUOR,8,ALCOHOLIC BEVERAGES,575322,JACK DANIEL'S COUNTRY COCKTLS,4,30884,296.0,ML,ALL,0,2004,7,200407,4,2004-07-25,30,200430,0.033814,4,40.035776,1.801610
2,2,8603620560,1,14232959,2000106,2005-12-04,6,434185,2005,606.0,42.46,1,5.99,0,0,C BROS HOLIDAY NOG 20P CK,5040,ALCOHOLIC COCKTAILS,5002,LIQUOR,8,ALCOHOLIC BEVERAGES,529222,CHRISTIAN BROTHERS,1,30922,750.0,ML,ALL,0,2005,12,200512,1,2005-12-04,48,200548,0.033814,1,25.360500,1.141222
3,3,71582610190,1,7440646,2000126,2005-01-23,9103,0,2005,NaN,84.76,1,7.85,0,0,RVNSWD ZN CA V-B V RED DDT,5050,WINE-DOMESTIC DRY TABLE,5003,WINE,8,ALCOHOLIC BEVERAGES,625522,RAVENSWOOD,1,30922,750.0,ML,ALL,0,2005,1,200501,1,2005-01-23,3,200503,0.033814,1,25.360500,1.141222
4,4,7231163009,1,9587725,2000126,2005-05-07,6920,0,2005,NaN,163.28,1,5.76,0,0,MSEHD BR IM CND NRB 6P,5000,BEER,5001,BEER,8,ALCOHOLIC BEVERAGES,600650,MOOSEHEAD,6,32992,12.0,OZ,ALL,0,2005,5,200505,6,2005-05-07,18,200518,1.000000,6,72.000000,3.240000

In [31]:
data = total.groupby(['yyyymm', 'household_code']).apply(alcohol_sort)

In [32]:
result = alcohol_dummy(data)

In [34]:
result = pd.read_csv("total1025.csv")

In [36]:
result.to_excel("total1025.xlsx")

In [19]:
data_liquor['size1_units'].unique()
# oz ml li 
# 1 li = 33.814022 oz
# 1 ml = 0.033814 oz

array(['ML', 'LI'], dtype=object)

In [27]:
# yyyymmw 로 unique 시점 만들어주기 
def count_unique_visit(data):
    d = {}
    d['visit_count'] = data['trip_code_uc'].nunique()
    return pd.Series(d, index=['visit_count'])

In [2]:
ls

1020_weekly consumption.ipynb  result1020.csv*
Task2.pdf                      result1020.xlsx*
data_beer.csv                  result_total_1020.csv*
data_liquor.csv                result_total_1020.xlsx*
data_total.csv                 total_data.csv
data_wine.csv

In [4]:
# 결측치 정리
beer = pd.read_csv("result1020.csv")
total = pd.read_csv("result_total_1020.csv")

In [7]:
beer.to_excel("beer1020.xlsx")
total.to_excel("total1020.xlsx")

In [33]:
def to__csv(data):
    result = data.groupby(['time_key', 'household_code']).apply(count_unique_visit)
    result.to_excel("result1020.xlsx")

In [34]:
to__csv(data_beer)

In [12]:
result = data.groupby(['yyyymm', 'household_code'])['trip_code_uc'].nunique()

In [13]:
a = list(result)

yyyymm  household_code
200312  2001060           1
200401  2001521           7
200402  2001521           6
200403  2001464           1
        2001521           4
200404  2000571           1
        2000793           1
        2001521           6
200405  2000106           1
        2001060           1
        2001521           5
200406  2000855           1
        2001306           1
        2001521           3
200407  2000818           1
        2001060           1
        2001521           5
200408  2000818           1
        2000855           1
        2001521           6
200409  2000855           1
        2001060           1
        2001521           6
200410  2001060           1
        2001521           4
200411  2000855           1
        2001060           1
        2001277           2
        2001521           4
200412  2000855           1
                         ..
200605  2000855           1
        2001521           3
200606  2000855           1
        2001521           3
200607  2000855           1
        2001521           3
200608  2000126           1
        2000855           1
        2001060           1
        2001521           4
200609  2001521           4
200610  2001521           3
200612  2000811           1
        2000926           1
        2001050           1
200702  2000126           1
200704  2000561           1
        2000855           1
        2001302           1
200705  2000855           1
        2001060           1
        2001183           1
200706  2000855           1
200707  2000855           1
        2001460           1
200708  2000126           1
        2001060           1
200710  2000126           1
        2000855           1
200711  2001060           1
Name: trip_code_uc, Length: 99, dtype: int64

In [ ]:

def func(x):

    d = {}

    d['val_1_mean'] = x['val_1'].mean()

    d['val_1_std'] = x['val_1'].std()

    d['val_2_max'] = x['val_2'].max()

    d['val_2_min'] = x['val_2'].min()

    d['val_2_range'] = x['val_2'].max() - x['val_2'].min()

    return pd.Series(d, index=['val_1_mean', 'val_1_std', 'val_2_max', 'val_2_min', 'val_2_range'])

In [ ]:
data_beer = pd.read_csv("data_beer.csv")
data_wine = pd.read_csv("data_wine.csv")
data_liquor = pd.read_csv("data_liquor.csv")
data_total = pd.read_csv("total_data.csv")

beer = data_generator(data_beer)
wine = data_generator(data_wine)
liquor = data_generator(data_liquor)
total = data_generator(data_total)

result_b = beer.groupby(['time_key', 'household_code']).apply(calculator)
result_w = wine.groupby(['time_key', 'household_code']).apply(calculator)
result_l = liquor.groupby(['time_key', 'household_code']).apply(calculator)

result_b.to_csv